* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit; }

input, button {
  border: none;
  font-family: inherit;
  font-size: inherit; }

button, input[type="sunmit"] {
  background: none;
  cursor: pointer; }

input:focus, button:focus {
  outline: none; }

ul, li {
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

html, body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.687;
  color: #323232; }

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

.container--fluid {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }

.nav {
  padding-top: 35px;
  padding-bottom: 33px; }
  .nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .nav__row--list ul {
      display: flex; }
    .nav__row--list li {
      margin-right: 42px; }
      .nav__row--list li:last-child {
        margin-right: 0px; }
    .nav__row--list a:hover {
      color: #F78434; }
    .nav__row--list a.active {
      color: #F78434;
      font-weight: 700; }

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 1; }
  .logo img {
    margin-right: 5px; }

.burger {
  display: none; }

@media (max-width: 1079px) {
  .nav {
    padding-top: 25px;
    padding-bottom: 25px; }
    .nav__row--list .burger {
      display: none; }
    .nav__row--list li {
      margin-right: 20px; }
      .nav__row--list li:last-child {
        margin-right: 0px; } }
@media (max-width: 767px) {
  .nav {
    padding-top: 15px;
    padding-bottom: 15px; }
    .nav .nav__row--list {
      display: none; }
    .nav .burger_svg {
      fill: #323232; }
    .nav .burger {
      display: block; }
      .nav .burger :hover {
        fill: #F78434; } }
.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between; }
.header__text p {
  line-height: 1.687;
  width: 75%;
  font-size: 16px; }
.header__title {
  font-size: 54px;
  line-height: 1.476;
  font-weight: 700;
  position: relative;
  margin-right: -150px;
  z-index: 9;
  margin-bottom: 25px; }
.header__form {
  margin-top: 42px; }
.header__img img {
  border-radius: 40px 40px 40px 0px;
  max-width: 540px; }
.header__img {
  padding-left: 15px; }

@media (max-width: 1079px) {
  .header__row {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header__text p {
    line-height: 1.687;
    width: 75%;
    font-size: 16px; }
  .header__title {
    position: relative;
    margin-right: -50px;
    z-index: 9;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 1.476;
    font-weight: 700; }
  .header__form {
    margin-top: 20px; }
  .header__img {
    width: 80%; }
  .header__img img {
    width: 100%; } }
@media (max-width: 767px) {
  .header__row {
    display: flex;
    align-items: center;
    justify-content: center; }
  .header__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .header__text p {
    line-height: 1.687;
    width: 85%;
    font-size: 16px; }
  .header__title {
    font-size: 24px;
    line-height: 1.476;
    font-weight: 700;
    margin: 0px 0px 15px 0px;
    text-align: center; }
  .header__form {
    margin-top: 15px; }
  .header__img {
    display: none; } }
.form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%; }
  .form__label {
    background: #FFFFFF;
    box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
    border-radius: 29px;
    height: 58px;
    width: 90%;
    transition: all 0.2s;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 72px; }
    .form__label--active {
      box-shadow: 0px 17px 42px rgba(187, 77, 13, 0.25); }
    .form__label::before {
      position: absolute;
      top: 20px;
      left: 28px;
      content: "";
      display: block;
      width: 24px;
      height: 19px;
      background-image: url(./../img/icons/mail.svg);
      background-size: initial; }
  .form__input {
    flex-grow: 1;
    margin-right: 5px; }
    .form__input::placeholder {
      color: #bbb; }

@media (max-width: 767px) {
  .form {
    flex-direction: column; }
    .form__label {
      padding-left: 22px;
      width: 100%;
      max-width: 455px;
      margin-bottom: 20px; }
      .form__label::before {
        display: none; }
    .form__input {
      width: 90%; } }
.button {
  background-color: #F78434;
  border-radius: 29px;
  display: inline-block;
  padding-left: 28px;
  padding-right: 28px;
  height: 58px;
  line-height: 58px;
  font-weight: 700;
  color: #fff; }
  .button:hover {
    background-color: #e46d18;
    transition: all, 0.2s; }
  .button--white {
    background-color: #fff;
    color: #323232; }
    .button--white:hover {
      background-color: #e4e0f0;
      transition: all, 0.2s; }
  .button--play {
    position: relative;
    padding-left: 50px; }
    .button--play::before {
      content: "";
      display: block;
      width: 12px;
      height: 12px;
      background-image: url("./../img/icons/play.svg");
      background-size: initial;
      background-repeat: no-repeat;
      position: absolute;
      left: 30px;
      top: 50%;
      transform: translateY(-50%); }

.clients {
  padding-top: 100px;
  padding-bottom: 90px; }
  .clients__row {
    display: flex;
    justify-content: space-between;
    align-items: center; }

@media (max-width: 1079px) {
  .clients {
    padding-top: 50px;
    padding-bottom: 45px; }
    .clients__row {
      display: flex;
      justify-content: space-around; }
      .clients__row img {
        padding-bottom: 10px;
        width: 20%;
        min-width: 135px; } }
@media (max-width: 767px) {
  .clients {
    padding-top: 30px;
    padding-bottom: 25px; }
    .clients__row {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; }
      .clients__row img {
        padding-bottom: 10px;
        width: 20%;
        min-width: 135px; } }
.objects {
  padding-top: 80px;
  padding-bottom: 80px; }
  .objects__row {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden; }
    @media (max-width: 1495px) {
      .objects__row {
        justify-content: flex-end; } }
  .objects__img {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .objects__text {
    width: 390px;
    padding-left: 181px;
    padding-right: 150px;
    box-sizing: content-box;
    flex-shrink: 0; }
    .objects__text p + p {
      margin-top: 20px; }
  .objects__title {
    margin-bottom: 20px; }
  .objects__button {
    margin-top: 20px; }

@media (max-width: 1079px) {
  .objects {
    padding-top: 40px;
    padding-bottom: 40px; }
    .objects__text {
      width: 300px;
      padding-left: 50px;
      padding-right: 0px; } }
@media (max-width: 767px) {
  .objects {
    padding-top: 30px;
    padding-bottom: 30px; }
    .objects__row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      overflow-x: hidden; }
    .objects__img {
      width: 100%;
      padding-right: 15px;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
    .objects__text {
      width: 90%;
      padding-left: 15px;
      padding-right: 15px; }
    .objects__title {
      text-align: center;
      margin-bottom: 20px; } }
.title {
  font-size: 42px;
  line-height: 1.476;
  font-weight: 700; }

@media (max-width: 1079px) {
  .title {
    font-size: 30px; } }
@media (max-width: 767px) {
  .title {
    font-size: 24px; } }
.img-card {
  position: relative; }
  .img-card__img {
    border-radius: 20px 20px 0px 20px; }
  .img-card--rounded .img-card__img {
    border-radius: 20px 20px 20px 20px;
    margin-right: 32px; }
  .img-card__info {
    position: absolute;
    right: -60px;
    bottom: 80px;
    max-width: 305px; }

@media (max-width: 1079px) {
  .img-card__img {
    height: 395px;
    border-radius: 20px 20px 0px 20px; }
  .img-card__info {
    right: -30px;
    bottom: 60px;
    max-width: 235px; } }
@media (max-width: 767px) {
  .img-card__info {
    right: -20px;
    bottom: 40px;
    max-width: 235px; } }
.card-info {
  display: flex;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  padding: 30px; }
  .card-info__icon {
    margin-right: 20px; }
  .card-info__title {
    font-weight: 700; }

@media (max-width: 1079px) {
  .card-info {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    padding: 15px; }
    .card-info__icon {
      margin-right: 10px; }
    .card-info__title {
      font-size: 14px;
      font-weight: 700; }
    .card-info__text {
      font-size: 13px; } }
.cta {
  padding-top: 70px;
  padding-bottom: 70px; }
  .cta__block {
    background-color: #58BEBF;
    color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: stretch; }
  .cta__text {
    width: 555px;
    padding-left: 95px;
    padding-right: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(./../img/cta/Oval1.svg) top right no-repeat, url(./../img/cta/Oval2.svg) bottom -180px left -186px no-repeat; }
    .cta__text p {
      width: 260px; }
  .cta__img {
    margin-top: 80px;
    padding: 20px;
    background-color: #fff;
    border-radius: 0 20px 0 0;
    box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12); }
  .cta__buttons-row {
    margin-top: 20px;
    display: flex;
    column-gap: 20px; }

@media (max-width: 1079px) {
  .cta {
    padding-top: 30px;
    padding-bottom: 30px; }
    .cta__block {
      align-items: center;
      flex-direction: column-reverse; }
    .cta__img {
      margin-top: 0px;
      padding: 20px 20px 0px 0px; }
    .cta__text {
      width: 551px;
      padding: 50px;
      align-items: center;
      background: url(./../img/cta/Oval1.svg) top right no-repeat, url(./../img/cta/Oval2.svg) bottom -180px left -186px no-repeat; }
    .cta__title {
      margin-bottom: 20px; } }
@media (max-width: 767px) {
  .cta {
    padding-top: 30px;
    padding-bottom: 30px; }
    .cta__block {
      align-items: center;
      flex-direction: column-reverse; }
    .cta__img {
      max-width: 90%;
      display: none; }
      .cta__img img {
        width: 100%; }
    .cta__text {
      width: 100%;
      padding: 20px;
      align-items: center;
      background: url(./../img/cta/Oval1.svg) top -70px right -70px no-repeat, url(./../img/cta/Oval2.svg) bottom -200px left -200px no-repeat; }
    .cta__title {
      margin-bottom: 20px;
      text-align: center; }
    .cta__buttons-row {
      flex-direction: column-reverse;
      gap: 15px; } }
.serve {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative; }
  .serve::before {
    content: "";
    display: block;
    width: 100%;
    height: 113%;
    background-color: #F5F6FA;
    position: absolute;
    top: -52%;
    left: 0%;
    z-index: -1; }
  .serve__heading {
    margin-bottom: 45px;
    text-align: center; }
  .serve__row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    column-gap: 30px; }
    .serve__row .title {
      margin-bottom: 10px; }

@media (max-width: 1079px) {
  .serve__row {
    justify-content: center; } }
@media (max-width: 767px) {
  .serve {
    padding-top: 30px;
    padding-bottom: 30px; }
    .serve__row {
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 15px; }
    .serve__heading {
      margin-bottom: 20px; }
    .serve::before {
      height: 100%;
      top: -22%; } }
.card-customer {
  justify-content: center;
  text-align: center;
  padding: 40px 88px;
  background: #fff;
  box-shadow: 0px 40px 52px -22px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  transition: background-color 0.2s ease-in,  color 0.2s ease-in; }
  .card-customer p {
    margin-bottom: 25px;
    max-width: 364px;
    padding: 0px 35px; }
  .card-customer__icon {
    fill: #F78434;
    margin-bottom: 15px;
    transition: background-color 0.2s ease-in,  color 0.2s ease-in, fill 0.1s ease-in; }
  .card-customer:hover {
    background-color: #F78434;
    color: #fff; }
    .card-customer:hover .button {
      background-color: #fff;
      color: #F78434; }
    .card-customer:hover .card-customer__icon {
      fill: #fff; }

@media (max-width: 1079px) {
  .card-customer {
    padding: 30px 40px; } }
@media (max-width: 767px) {
  .card-customer {
    padding: 30px 10px; } }
.advantages {
  margin-top: 88px;
  margin-bottom: 110px; }
  .advantages__title {
    text-align: center;
    margin-bottom: 58px; }
  .advantages__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 35px; }
  .advantages__card {
    text-align: center; }
    .advantages__card--title {
      font-size: 28px;
      line-height: 1.5; }
    .advantages__card p {
      max-width: 248px; }
    .advantages__card--icon {
      fill: #58BEBF;
      transition: fill 0.2s ease-in; }
      .advantages__card--icon--circle {
        fill: #58BEBF;
        fill-opacity: 0.2; }
    .advantages__card:hover .advantages__card--icon {
      fill: #fff; }
      .advantages__card:hover .advantages__card--icon--circle {
        fill: #F78434;
        fill-opacity: 1; }

@media (max-width: 1079px) {
  .advantages {
    margin-top: 60px;
    margin-bottom: 60px; }
    .advantages__title {
      margin-bottom: 48px; }
    .advantages__card--title {
      font-size: 20px; }
    .advantages__card p {
      font-size: 14px; } }
@media (max-width: 767px) {
  .advantages {
    margin-top: 40px;
    margin-bottom: 40px; }
    .advantages__row {
      flex-wrap: wrap;
      justify-content: center;
      gap: 25px; }
    .advantages__title {
      margin-bottom: 40px; }
    .advantages__card--title {
      font-size: 20px; }
    .advantages__card p {
      font-size: 14px; } }
.testimonials {
  padding-top: 36px;
  padding-bottom: 60px; }
  .testimonials__heading {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .testimonials__title {
    width: 40%;
    padding-bottom: 60px; }
  .testimonials__subtitle {
    width: 40%; }
  .testimonials__row {
    display: flex;
    justify-content: space-between;
    gap: 10px; }

.container {
  position: relative; }

@media (max-width: 1079px) {
  .testimonials {
    padding-bottom: 36px; }
    .testimonials__heading {
      justify-content: space-around; } }
@media (max-width: 767px) {
  .testimonials {
    padding-bottom: 36px; }
    .testimonials__heading {
      flex-direction: column;
      justify-content: center;
      padding-bottom: 20px; }
    .testimonials__row {
      flex-wrap: wrap;
      justify-content: center; }
    .testimonials__title {
      width: 100%;
      padding-bottom: 20px;
      text-align: center; }
    .testimonials__subtitle {
      width: 100%; } }
.card-testimonial {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  max-width: 350px;
  transition: box-shadow 0.2s ease-in; }
  .card-testimonial:hover {
    box-shadow: 0px 10px 52px rgba(0, 0, 0, 0.08); }
    .card-testimonial:hover .card-testimonial__city {
      color: #F78434; }
    .card-testimonial:hover .card-testimonial__btn-svg {
      transition: fill 0.2s ease-in;
      fill: #F78434; }
      .card-testimonial:hover .card-testimonial__btn-svg__circle {
        fill: #fff; }
  .card-testimonial__img-wrapper {
    position: relative; }
  .card-testimonial__btn-play {
    position: absolute;
    bottom: 20px;
    right: 20px; }
    .card-testimonial__btn-play:hover .card-testimonial__btn-svg {
      fill: #fff; }
      .card-testimonial__btn-play:hover .card-testimonial__btn-svg__circle {
        fill: #F78434; }
  .card-testimonial__btn-svg {
    fill: none; }
    .card-testimonial__btn-svg__circle {
      fill: none; }
  .card-testimonial__shape {
    position: absolute;
    top: 140px;
    right: -25px;
    z-index: 10; }
  .card-testimonial__body {
    padding: 30px; }
  .card-testimonial__text {
    padding-bottom: 30px; }
  .card-testimonial__name {
    font-size: 18px;
    font-weight: 700; }
  .card-testimonial__city {
    color: #58BEBF; }

@media (max-width: 1079px) {
  .card-testimonial__shape {
    display: none; } }
.contacts {
  position: relative;
  padding-top: 210px;
  background-image: url("./../img/contacts/bg.svg");
  background-size: cover;
  overflow: hidden;
  color: #fff;
  padding-bottom: 55px; }
  .contacts:before {
    content: "";
    display: block;
    max-width: 743px;
    max-height: 372px;
    height: 100%;
    width: 100%;
    background-image: url("./../img/contacts/Oval.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0px;
    left: 45%; }
  .contacts:after {
    content: "";
    display: block;
    max-width: 478px;
    max-height: 547px;
    height: 100%;
    width: 100%;
    background-image: url("./../img/contacts/Image1.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0px;
    left: 55%; }
  .contacts__info {
    max-width: 360px; }
  .contacts__title {
    margin-bottom: 15px; }
  .contacts__text {
    margin-bottom: 30px;
    max-width: 300px; }

@media (max-width: 767px) {
  .contacts:before {
    max-width: 478px;
    max-height: 547px;
    background-image: url("./../img/contacts/Image1.png");
    bottom: 1px;
    left: 45%; }
  .contacts:after {
    display: none; }

  .contact_title {
    max-width: 260px; } }
.footer {
  background-color: rgba(248, 248, 248, 0.836);
  padding-top: 86px;
  padding-bottom: 82px; }
  .footer__logo {
    padding-bottom: 15px; }
  .footer__info--text {
    padding-bottom: 40px;
    max-width: 260px; }
  .footer__info--socials {
    display: flex;
    column-gap: 30px; }
    .footer__info--socials a img {
      opacity: 0.7; }
      .footer__info--socials a img:hover {
        opacity: 1; }
  .footer__row {
    display: flex;
    justify-content: space-between; }
  .footer__nav {
    display: flex;
    justify-content: space-between;
    column-gap: 85px; }
  .footer__nav-block-title {
    font-size: 21px;
    font-weight: 700;
    padding-bottom: 18px; }
  .footer__nav-list ul li {
    padding-bottom: 13px;
    font-size: 14px; }
  .footer__nav-list ul a:hover {
    color: #F78434; }

@media (max-width: 1079px) {
  .footer__nav {
    column-gap: 25px; } }
@media (max-width: 767px) {
  .footer {
    padding-top: 40px; }
    .footer__row {
      flex-direction: column;
      gap: 20px; }
    .footer__nav {
      flex-direction: column; } }

/*# sourceMappingURL=main.css.map */
