.header{
    &__row{
        display:flex;
        align-items: center;
        justify-content: space-between;
    }

    &__text p{
        line-height: 1.687;
        width: 75%;
        font-size: 16px;
    }

    &__title{
        font-size: 54px;
        line-height: 1.476;
        font-weight: 700;

        position: relative;
        margin-right: -150px;
        z-index: 9;
        margin-bottom: 25px;

    }

    &__form{
        margin-top: 42px;
    }

    &__img img{
        border-radius: 40px 40px 40px 0px;
        max-width: 540px;
    }
    &__img{
        padding-left: 15px;
    }
}

@media (max-width: 1079px) {
    .header{
        &__row{
            display:flex;
            align-items: center;
            justify-content: space-between;
        
        }
        
        &__text p{
            line-height: 1.687;
            width: 75%;
            font-size: 16px;
        
        }
        
        &__title{
            position: relative;
            margin-right: -50px;
            z-index: 9;
 
            margin-bottom: 25px;
            font-size: 30px;
            line-height: 1.476;
            font-weight: 700;
    
        
        }
        
        &__form{
            margin-top: 20px;
        }
        
        &__img {
            width: 80%;
        }
        &__img img{
            width: 100%;
        }
    }
    
}

@media (max-width: 767px) {
    .header{
        &__row{
            display:flex;
            align-items: center;
            justify-content: center;


        }
        
        &__text{
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            //text-align: center;

        }
        &__text p{
            line-height: 1.687;
            width: 85%;
            font-size: 16px;
        
        }
        
        &__title{
            font-size: 24px;
            line-height: 1.476;
            font-weight: 700;
            margin: 0px 0px 15px 0px ;
            text-align: center;
        }
        
        &__form{
            margin-top: 15px;

        }
        
        &__img {
            display:none;
        }
    }
    
}






