.testimonials {
    padding-top: 36px;
    padding-bottom: 60px;

    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__title {
        width: 40%;
        padding-bottom: 60px;
    }
    
    &__subtitle {
        width: 40%;
    }
    
    &__row {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
}

.container{
    position: relative;
}    

@media (max-width:1079px) {
    .testimonials {
        padding-bottom: 36px;
        &__heading {
            justify-content: space-around;
        }
    } 
}

@media (max-width:767px) {
    .testimonials {
        padding-bottom: 36px;
        &__heading {
            flex-direction: column;
            justify-content: center;
            padding-bottom: 20px;
        }
        &__row {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__title {
            width: 100%;
            padding-bottom: 20px;
            text-align: center;
        }
        
        &__subtitle {
            width: 100%;
        }
    } 
}
